.download {
  &-wrapper {
    display: flex;
    align-items: center;
    gap: 0 179px;
    margin-bottom: 120px;
  }
  &-desc {
    font-size: 16px;
    color: $text-color-gray;
    margin-top: 20px;
    margin-bottom: 42px;
    line-height: 28px;
    max-width: 349px;
  }
  &-list {
    display: flex;
    align-items: center;
    gap: 0 22px;
  }
  &-item {
    width: 176px;
    height: 72px;
    border: 1.09091px solid #dbdbdb;
    border-radius: 18.1818px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0 20px;
      color: black;
      font-weight: 500;
      font-size: 14px;
    }
  }
}

.subscribe {
  padding: 61px 107px 61px 106px;
  display: flex;
  align-items: center;
  gap: 0 92px;
  background-image: url("../image/subscribe.png");
  background-repeat: no-repeat;
  &-image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-heading {
    color: $text-color-white;
    margin-bottom: 22px;
  }
  &-desc {
    color: $text-color-white;
  }
  &-input {
    border: 0 !important;
  }
}
