$primary-color: #ff4415;
$text-color-gray: #646464;
$text-color-gray-2: #838383;
$text-color-gray-3: #969696;
$text-color-gray-4: #787878;
$text-color-gray-5: #c0c0c0;
$text-color-gray-6: #666666;
$text-color-white: #fff;
$text-color-black-1: #101010;
$text-color-black-2: #171717;
$text-color-black-3: #181818;
$text-color-black-4: #060606;
$text-color-black-5: #1b1b1b;
$text-color-black-6: #232323;
$text-color-green: #36bd59;

// font
$primary-font: "Inter", sans-serif;
$second-font: "Seaweed Script", cursive;
